<div class="{{ page.header.body_classes }}">
	{{ content|raw }}
	<ul>
		<li>{{ header.custom.careerType|e }}</li>
		<li>{{ header.custom.careerLink|e }}</li>
		<li>{{ header.custom.requirements|e }}</li>
		<li>{{ header.custom.certifications|e }}</li>
		<li>{{ header.custom.license|e }}</li>
		<li>{{ header.custom.salary|e }}</li>
	</ul>
</div>
